main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (width <= 27em) {
    main.container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 1rem;

        img {
            width: 328px;
            height: auto;
        }
    }
}